body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E90FF;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
    height: auto;
}

nav {
    background-color: #1E90FF;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #4169E1;
}

main {
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-box {
    background-color: #1E90FF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1E90FF;
    border-radius: 3px;
}

.login-box button {
    background-color: #1E90FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #4169E1;
}

.image img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #4169E1;
}